body{
    max-width: 1924px;
    height: 100%;
    color: rgb(255, 255, 255);
    background-image: url("wallpaperflare.com_wallpaper.jpg");
    background-repeat: no-repeat;
    background-size:cover;

    font-size: 20px;
}   
.container{
    background-color: rgba(0, 0, 0, 0.274);  
}
.container .linkedin{
    text-decoration: none;
    /* color: rgb(255, 255, 255); */
}

header{
    z-index: 100;
    font-size: 20px;
    /* margin-left: 100px;
    margin-right: 100px; */
    align-items:center;
    display: flex;
    justify-content:space-around;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
a{
    text-decoration: none;
    color: white;
    /* background-color: #fffafac2; */
    border-radius: 5 px;
}

.detail:hover{
    color: rgba(0, 0, 0, 0.753);
    background-color: rgba(255, 255, 255, 0.712);
    
    
}

.image{
    background-image: url("SK.jpeg");
    background-size:cover;
    height: 150px;
    width: 150px;
    z-index: 1000;
    transition-duration: 1s;
    margin-left: 10px;
    margin-right: 10px;
    /* transform: 2s; */
   
}
.image:hover
{
    height: 200px;
    width: 200px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-style: none;
    /* transform: rotate(10deg); */
}
.detail{
    min-width: 100px;
    height: 100%;
    transition-duration: 1s;
    
}
main{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1rem;
    gap: 10px;
}

main ul{
    flex-direction: column;
    gap: 10px;
    display: flex;
}

.social ul{
    align-items: center;
    display: flex;
}

.social li {
    list-style: none;
    background-color: rgb(255, 255, 255);
}    
.social li a{
    display: inline-block;
    margin-right: 20px;
    /* filter: invert(1); */
    transform: scale(0.5);
    transition: 0.5s;
    width: 50px;
    height: 50px;
    padding: 10px 10px 10px 10px;
    background: transparent;
    font-size: 50px;
    color: black;

}
.social li a:hover {
    transform: scale(0.5) translateY(-15px);
}


